name: Build, Test and Coverage on PR

on:
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      # - name: Run tests with coverage
      #   run: npm run test:cov

      # - name: Check code coverage threshold
      #   run: |
      #     mkdir -p coverage
      #     COVERAGE=$(node -p "require('./coverage/coverage-summary.json').total.statements.pct")
      #     echo "Total coverage is $COVERAGE%"
      #     if (( $(echo "$COVERAGE < 80" | bc -l) )); then
      #       echo "❌ Code coverage below 80%! Failing the PR."
      #       exit 1
      #     else
      #       echo "✅ Code coverage is acceptable."
      #     fi

      # - name: Upload coverage report
      #   if: ${{ env.ACT != 'true' }}
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-report
      #     path: coverage/
